<%= form_with(model: manga) do |form| %>
  <% if manga.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(manga.errors.count, "error") %> prohibited this manga from being saved:</h2>
      <ul>
        <% manga.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="container justify-content-center" style="width:25%; display:grid">
    <div class="mb-3 justify-content-md-center">
      <%= form.text_field :title, class:"form-control", placeholder:"title" %>
    </div>
    <div class="mb-3 justify-content-center" >
      <%= form.number_field :pub_vols, class:"form-control", placeholder:"volumes released" %>
    </div>
    <div class="mb-3 justify-content-center">
      <%= form.select :status, options_for_select([["ongoing", "ongoing"], ["paused", "paused"], ["complete", "complete"]]), {}, {class: 'form-select'} %>
      <div class="text-muted">&nbsp;italy status</div>
    </div>
    <div class="mb-3 justify-content-center">
      <%= form.select :collection, options_for_select([["ongoing" , "ongoing"], ["paused", "paused"], ["complete", "complete"]]), {}, {class: 'form-select'} %>
      <div class="text-muted">&nbsp;collection status</div>
    </div>
    <div class="mb-3 justify-content-center" style="display:grid">
      <%= form.submit "new manga", class:"btn btn-dark" %>
    </div>
    <br/>
  </div>
<% end %>
