<div id="<%= dom_id manga %>">
  <p>
    <strong>Title:</strong>
    <%= manga.title %>
  </p>

  <p>
    <strong>Pub vols:</strong>
    <%= manga.pub_vols %>
  </p>

  <p>
    <strong>Own vols:</strong>
    <%= manga.own_vols %>
  </p>

  <p>
    <strong>Mis vols:</strong>
    <%= manga.mis_vols %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= manga.status %>
  </p>

  <p>
    <strong>Collection:</strong>
    <%= manga.collection %>
  </p>

</div>
