<div class="table-responsive">
  <table class="table table-dark table-striped table-hover table-sm align-middle">
    <thead class="thead-dark">
      <tr class="text-center">
        <th>title</th>
        <th>released</th>
        <th>owned</th>
        <th>missing</th>
        <th>italy status</th>
        <th>collection status</th>
        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
        <% @mangas.each do |manga| %>
          <tr class="text-center">
            <td> <%= manga.title %> </td>
            <td> <%= manga.pub_vols %> </td>
            <td> <%= (manga.volumes.collect { |v| v.number }).sort.join(', ') %> </td>
            <td> <%= ( ((1..manga.pub_vols).to_a) - (manga.volumes.collect { |v| v.number } )).sort.join(', ') %> </td>
            <td> <%= manga.status %> </td>
            <td> <%= manga.collection %> </td>
            <td> <%= link_to "view", manga, class:"btn btn-dark btn-sm" %>
          </tr>
        <% end %>
      </tbody>
  </table>
  <%= @owned_vols %>
</div>