<%= form_with(model: volume) do |form| %>
  <% if volume.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(volume.errors.count, "error") %> prohibited this volume from being saved:</h2>
      <ul>
        <% volume.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="container">
    <div class="mb-3">
      <td>
        <%= form.label :manga_id, class:"form-label" %>
        <%= form.select :manga_id, Manga.all.collect {|u| [u.title, u.id]}, {}, class: "select" %>
      </td>
      <br/>
      <br/>
      <td>
        <%= form.label :number, class:"form-label" %>
        <%= form.number_field :number, :size => 3 %>
      </td>
    </div>
    <div class="container">
      <%= form.submit "Add volume" , class:'btn btn-dark' %>
    </div>
  </div>
<% end %>
