<%= form_with(model: volume) do |form| %>
  <% if volume.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(volume.errors.count, "error") %> prohibited this volume from being saved:</h2>
      <ul>
        <% volume.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="container justify-content-center" style="width:25%; display:grid">
    <div class="mb-3">
      <td><%= form.select :manga_id, Manga.all.sort.collect {|u| [u.title, u.id]}, {}, class: "form-select" %></td>
    </div>
    <div class="mb-3 justify-content-center">
      <td><%= form.number_field :number, class:"form-select", placeholder:"volume number" %></td>
    </div>
    <div class="mb-3 justify-content-center" style="display:grid">
      <%= form.submit "new volume" , class:'btn btn-dark' %>
    </div>
  <% end %>
