<div id="<%= dom_id volume %>">
  <p>
    <strong>Manga:</strong>
    <%= volume.manga_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= volume.number %>
  </p>

  <p>
    <strong>Rel date:</strong>
    <%= volume.rel_date %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= volume.price %>
  </p>

</div>
