<div id="<%= dom_id release %>">
  <p>
    <strong>Date:</strong>
    <%= release.date %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= release.month %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= release.day %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= release.link %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= release.picture %>
  </p>

  <p>
    <strong>Editor:</strong>
    <%= release.editor %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= release.title %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= release.book %>
  </p>

</div>
